.UploadForm {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  box-shadow: 15px 15px 75px 30px gray;
  width: 30%;
  padding: 60px;
  position: relative;
  top: 50pt;
  background-image: url(Wave004.png);
  background-size: cover;
  border-radius: 30px;
}

.MenuBar {
  padding: 1px;
}

.Table{
  border: 1px solid black;
}

.TableView {

  margin: auto;
  position: relative;
  width: 80%;
  height: 80%;
  padding: 60px;
  top: 50pt;
  bottom: 50pt;
  border-radius: 20px;
  box-shadow: 15px 15px 75px 30px gray;
  border: 1px solid black;
  background-image: url(Wave004.png);
  background-size: cover;
  overflow-y: scroll;
  align-items: center;
}

.InputFileButton {
  background-color: black;
  font: inherit;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
